.u-section-1 .u-sheet-1 {
  min-height: 1200px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 57px auto 0;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 32px auto 0;
  padding: 20px 65px 21px 63px;
}

.u-section-1 .u-group-1 {
  min-height: 320px;
  height: auto;
  margin-top: 34px;
  margin-bottom: 0;
  width: 100%;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: 21px auto 0;
}

.u-section-1 .u-text-3 {
  margin: 0 auto;
}

.u-section-1 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 41px auto 0 233px;
}

.u-section-1 .u-icon-2 {
  width: 64px;
  height: 64px;
  margin: -64px auto 0 809px;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  margin: 13px auto 0 198px;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  margin: -28px auto 0 771px;
}

.u-section-1 .u-text-6 {
  margin: 0 695px 0 85px;
}

.u-section-1 .u-text-7 {
  margin: -48px 85px 0 630px;
}

.u-section-1 .u-group-2 {
  min-height: 320px;
  height: auto;
  margin-top: 1px;
  margin-bottom: 0;
  width: 100%;
}

.u-section-1 .u-container-layout-2 {
  padding: 13px 30px 0;
}

.u-section-1 .u-text-8 {
  font-weight: 700;
  margin: 17px auto 0;
}

.u-section-1 .u-text-9 {
  margin: 0 100px;
}

.u-section-1 .u-icon-3 {
  width: 90px;
  height: 90px;
  margin: 28px auto 0 805px;
  padding: 0;
}

.u-section-1 .u-icon-4 {
  width: 90px;
  height: 90px;
  margin: -90px auto 0 235px;
  padding: 0;
}

.u-section-1 .u-text-10 {
  font-weight: 700;
  margin: 13px auto 0 788px;
}

.u-section-1 .u-text-11 {
  font-weight: 700;
  margin: -28px auto 0 167px;
}

.u-section-1 .u-text-12 {
  margin: 0 auto 0 714px;
}

.u-section-1 .u-text-13 {
  margin: -23px auto 0 94px;
}

.u-section-1 .u-group-3 {
  min-height: 320px;
  height: auto;
  margin-top: 0;
  margin-bottom: 1px;
  width: 100%;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 30px 0;
}

.u-section-1 .u-text-14 {
  font-weight: 700;
  margin: 0 auto;
}

.u-section-1 .u-text-15 {
  margin: 0 auto;
}

.u-section-1 .u-icon-5 {
  width: 64px;
  height: 64px;
  margin: 64px auto 0 240px;
}

.u-section-1 .u-icon-6 {
  width: 64px;
  height: 64px;
  margin: -64px auto 0 838px;
}

.u-section-1 .u-text-16 {
  font-weight: 700;
  margin: 0 705px 0 168px;
}

.u-section-1 .u-text-17 {
  font-weight: 700;
  margin: -28px auto 0 769px;
}

.u-section-1 .u-text-18 {
  margin: 0 auto 0 712px;
}

.u-section-1 .u-text-19 {
  margin: -23px auto 0 51px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-icon-1 {
    margin-left: 218px;
  }

  .u-section-1 .u-icon-2 {
    margin-left: 764px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 183px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 726px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 710px;
    margin-left: 70px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 130px;
    margin-left: 585px;
  }

  .u-section-1 .u-group-2 {
    height: auto;
  }

  .u-section-1 .u-icon-3 {
    margin-left: 751px;
  }

  .u-section-1 .u-icon-4 {
    margin-left: 181px;
  }

  .u-section-1 .u-text-10 {
    margin-left: 734px;
  }

  .u-section-1 .u-text-11 {
    margin-left: 113px;
  }

  .u-section-1 .u-text-12 {
    margin-left: 660px;
  }

  .u-section-1 .u-text-13 {
    margin-left: 40px;
  }

  .u-section-1 .u-group-3 {
    margin-top: 20px;
    height: auto;
  }

  .u-section-1 .u-icon-5 {
    margin-left: 204px;
  }

  .u-section-1 .u-icon-6 {
    margin-left: 802px;
  }

  .u-section-1 .u-text-16 {
    margin-right: 742px;
    margin-left: 132px;
  }

  .u-section-1 .u-text-17 {
    margin-left: 733px;
  }

  .u-section-1 .u-text-18 {
    margin-left: 676px;
  }

  .u-section-1 .u-text-19 {
    margin-left: 15px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-icon-1 {
    margin-left: 129px;
  }

  .u-section-1 .u-icon-2 {
    margin-left: 675px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 94px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 637px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 739px;
    margin-left: -19px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 219px;
    margin-left: 496px;
  }

  .u-section-1 .u-icon-3 {
    margin-left: 641px;
  }

  .u-section-1 .u-icon-4 {
    margin-left: 71px;
  }

  .u-section-1 .u-text-10 {
    margin-left: 624px;
  }

  .u-section-1 .u-text-11 {
    margin-left: 3px;
  }

  .u-section-1 .u-text-12 {
    margin-left: 550px;
  }

  .u-section-1 .u-text-13 {
    margin-left: -70px;
  }

  .u-section-1 .u-group-3 {
    margin-top: 0;
  }

  .u-section-1 .u-icon-5 {
    margin-left: 94px;
  }

  .u-section-1 .u-icon-6 {
    margin-left: 692px;
  }

  .u-section-1 .u-text-16 {
    margin-right: 639px;
    margin-left: 22px;
  }

  .u-section-1 .u-text-17 {
    margin-left: 623px;
  }

  .u-section-1 .u-text-18 {
    margin-left: 566px;
  }

  .u-section-1 .u-text-19 {
    margin-left: -95px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-icon-1 {
    margin-left: 39px;
  }

  .u-section-1 .u-icon-2 {
    margin-left: 585px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 4px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 547px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 649px;
    margin-left: -109px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 134px;
    margin-left: 406px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 200px;
    margin-right: 200px;
  }

  .u-section-1 .u-icon-3 {
    margin-left: 926px;
  }

  .u-section-1 .u-icon-4 {
    margin-left: -214px;
  }

  .u-section-1 .u-text-10 {
    margin-left: 892px;
  }

  .u-section-1 .u-text-11 {
    margin-left: -350px;
  }

  .u-section-1 .u-text-12 {
    margin-left: 744px;
  }

  .u-section-1 .u-text-13 {
    margin-left: -496px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-icon-5 {
    margin-left: -181px;
  }

  .u-section-1 .u-icon-6 {
    margin-left: 1015px;
  }

  .u-section-1 .u-text-16 {
    margin-right: 1013px;
    margin-left: -493px;
  }

  .u-section-1 .u-text-17 {
    margin-left: 877px;
  }

  .u-section-1 .u-text-18 {
    margin-left: 763px;
  }

  .u-section-1 .u-text-19 {
    margin-left: -559px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-icon-1 {
    margin-left: -61px;
  }

  .u-section-1 .u-icon-2 {
    margin-left: 485px;
  }

  .u-section-1 .u-text-4 {
    margin-left: -96px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 447px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 549px;
    margin-left: -209px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 34px;
    margin-left: 306px;
  }

  .u-section-1 .u-icon-3 {
    margin-left: 826px;
  }

  .u-section-1 .u-icon-4 {
    margin-left: -314px;
  }

  .u-section-1 .u-text-10 {
    margin-left: 792px;
  }

  .u-section-1 .u-text-11 {
    margin-left: -450px;
  }

  .u-section-1 .u-text-12 {
    margin-left: 644px;
  }

  .u-section-1 .u-text-13 {
    margin-left: -596px;
  }

  .u-section-1 .u-icon-5 {
    margin-left: -281px;
  }

  .u-section-1 .u-icon-6 {
    margin-left: 915px;
  }

  .u-section-1 .u-text-16 {
    margin-right: 913px;
    margin-left: -593px;
  }

  .u-section-1 .u-text-17 {
    margin-left: 777px;
  }

  .u-section-1 .u-text-18 {
    margin-left: 663px;
  }

  .u-section-1 .u-text-19 {
    margin-left: -659px;
  }
}